# .github/workflows/ci-cd.yml

name: CI/CD Streamlit App

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  deploy:
    name: Deploy to Server
    runs-on: ubuntu-latest
    environment: env

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up SSH key
        run: |
          echo "${{ secrets.SSH_KEY }}" > key.pem
          chmod 600 key.pem

      - name: Sync code to server
        run: |
          rsync -az --delete \
            --exclude .env \
            --exclude .venv \
            -e "ssh -i key.pem -o StrictHostKeyChecking=no" \
            ./ ubuntu@tempocom.dtsc.be:/home/ubuntu/app/

      - name: Create .env file on server
        run: |
          ssh -i key.pem -o StrictHostKeyChecking=no ubuntu@tempocom.dtsc.be << 'EOF'
            set -e
            cd /home/ubuntu/app
      
            {
              printf 'APP_ACCESS_CODE="%s"\n' "${{ secrets.APP_ACCESS_CODE }}"
              printf 'STREAMLIT_ENV=production\n'
              printf 'APPS_PASSWORD="%s"\n' "${{ secrets.APPS_PASSWORD }}"
              printf 'DB_CONN_PROD="%s"\n' "${{ secrets.DB_CONN_PROD }}"
              printf 'ASSETS_PATH="%s"\n' "${{ vars.ASSETS_PATH }}"
            } > .env
      
            chmod 600 .env
          EOF
      
      - name: Install dependencies with Poetry (force .venv)
        run: |
          ssh -i key.pem -o StrictHostKeyChecking=no ubuntu@tempocom.dtsc.be << 'EOF'
            set -e
            cd /home/ubuntu/app
      
            export POETRY_HTTP_TIMEOUT=120
            export POETRY_HTTP_RETRIES=5
      
            # Nettoyage défensif
            rm -rf venv .venv
      
            # Forcer Poetry à créer .venv dans le projet
            poetry config virtualenvs.in-project true
      
            # Installer les dépendances
            poetry install --no-interaction --sync
          EOF

      - name: Restart systemd Streamlit service
        run: |
          ssh -i key.pem -o StrictHostKeyChecking=no ubuntu@tempocom.dtsc.be << 'EOF'
            sudo systemctl daemon-reload
            sudo systemctl restart streamlit-tempocom.service
            sudo systemctl status streamlit-tempocom.service --no-pager
          EOF
